name: "CI NODE"

on:
    push:
        paths:
            - src
        paths-ignore:
            - src/docs

jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
            - name: "Say Hello world"
              run: echo "HelloWorld"
