name: "CI NODE"

on:
    push:
        paths:
            - src/**
            - "!src/docs/**"
            - .github/workflows/ci.yml
        #paths-ignore:
        #    - src/docs

jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
            - name: "Say Hello world"
              run: |
                  echo "Hello World"
                  exit 1

    unit-test:
        needs: ["hello"]
        runs-on: ubuntu-latest
        steps:
            - run: echo "Run Unit tests"

    functional-test:
        needs: ["hello"]
        runs-on: ubuntu-latest
        steps:
            - run: echo "Run Functional tests"

    build:
        needs: ["unit-test", "functional-test"]
        runs-on: ubuntu-latest
        steps:
            - run: echo "Build projects"
