name: "CI NODE"

on:
  push:
    paths:
      - src/**
      - "!src/docs/**"
      - .github/workflows/ci.yml
    #paths-ignore:
    #    - src/docs
  workflow_dispatch:

jobs:
  hello:
    if: false
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: "List current folder"
        run: ls -la
      - name: "Create file"
        run: touch test-file
      - name: "List current folder"
        run: ls -la
      - name: "Say Hello world"
        run: echo "Hello World"
      - name: "Exit with errors"
        continue-on-error: true
        run: exit 1
      - name: "Say something"
        run: "echo 'Something'"
      - name: "Exit with errors again"
        run: exit 2
      - name: "Say something other"
        run: "echo 'Something other'"

  lint:
    name: "Lint tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm install -D
      - run: npm run lint

  unit-test:
    needs: ["lint"]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Run Unit tests"

  functional-test:
    needs: ["lint"]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Run Functional tests"

  health-test:
    needs: ["lint"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: npm install
      - run: |
          echo PORT=${{vars.PORT}}
          echo JWT_SECRET=${{secrets.JWT_SECRET}}
          echo "JWT_SECRET=${{secrets.JWT_SECRET}}" > .env
          cat .env
          npm start &
          sleep 5s
          curl -v http://localhost:${{vars.PORT}}/health
        env:
          JWT_SECRET: "${{ secrets.JWT_SECRET }}"
          PORT: "${{ vars.PORT }}"

  build:
    needs: ["unit-test", "functional-test"]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Build projects"
