name: "CI NODE"

on:
  push:
    paths:
      - src/**
      - "!src/docs/**"
      - .github/workflows/ci.yml
    #paths-ignore:
    #    - src/docs
  workflow_dispatch:

jobs:
  hello:
    if: false
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: "List current folder"
        run: ls -la
      - name: "Create file"
        run: touch test-file
      - name: "List current folder"
        run: ls -la
      - name: "Say Hello world"
        run: echo "Hello World"
      - name: "Exit with errors"
        continue-on-error: true
        run: exit 1
      - name: "Say something"
        run: "echo 'Something'"
      - name: "Exit with errors again"
        run: exit 2
      - name: "Say something other"
        run: "echo 'Something other'"

  deps:
    name: "Install Dev depedencies"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: actions/cache@v5
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-dev
      - run: npm install -D
        if: steps.cache.outputs.cache-hit != 'true'

  lint:
    needs: ["deps"]
    name: "Lint tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-dev
          path: node_modules
      - run: npm run lint
      - name: "Upload eslint report"
        uses: actions/upload-artifact@v4
        with:
          name: eslint-report
          path: eslint-report.txt

  build-test:
    name: Build for deployment
    needs: ["lint"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-dev
          path: node_modules
      - run: echo "Build projects"

  unit-test:
    needs: ["build-test"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-dev
          path: node_modules
      - run: echo "Run Unit tests"
      - run: ls node_modules | wc -l

  functional-test:
    needs: ["build-test"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-dev
          path: node_modules
      - run: echo "Run Functional tests"
      - run: ls node_modules | wc -l

  health-test:
    needs: ["build-test"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-dev
          path: node_modules
      - name: Create env file
        run: |
          echo ${{vars.ENV_FILE}} > .env
          echo "JWT_SECRET=${{secrets.JWT_SECRET}}" >> .env
      - run: |
          echo PORT=${{vars.PORT}}
          echo JWT_SECRET=${{secrets.JWT_SECRET}}
          cat .env
          npm start &
          sleep 5s
          curl -v http://localhost:${{vars.PORT}}/health
        env:
          JWT_SECRET: "${{ secrets.JWT_SECRET }}"
          PORT: "${{ vars.PORT }}"

  deps-prod:
    name: Install deps for production
    needs: ["unit-test", "functional-test", "health-test"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: actions/cache@v5
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-prod
      - run: npm ci
        if: steps.cache.outputs.cache-hit != 'true'
  build-prod:
    name: Build for deployment
    needs: ["deps-prod"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-prod
          path: node_modules
      - run: echo "Build projects"

  deploy:
    needs: ["build-prod"]
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - uses: actions/cache/restore@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-prod
          path: node_modules
      - run: ls node_modules | wc -l
      - name: Debug variables
        run: |
          echo PORT=${{vars.PORT}}
